{% liquid
  assign logo = section.settings.logo
  assign  menu = section.settings.navigation_menu
  assign show_search = section.settings.show_search
%}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ shop.url }}">
      {% if logo %}
        <img src="{{ logo | image_url: width: 120 }}" alt="Logo" width="120" height="120">
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for link_1 in menu.links %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link_1.url }}">{{ link_1.title }}</a>
          </li>
        {% endfor %}
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> {% endcomment %}
      </ul>
      {% if show_search %}
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>


{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    }, 
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Select your logo",
      "info": "Recommanded size 120x120px, format .png"
    },
    {
      "type": "header",
      "content": "Navigation Menu"
    }, 
    {
      "type": "link_list",
      "id": "navigation_menu",
      "label": "Navigation Menu",
      "info": "Select your navigation menu"
    }, 
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "Show search",
      "default": true
    }
  ]
}
{% endschema %}